
html{
    box-sizing: border-box;
}


.body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
header.button{
    background-color:  rgb(177, 166, 155);
    font-size: 1em;
    text-align: center;
    display: inline;
    justify-content: space-between;
}
 

.first_page{
    height:70vh;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    left: 340px;
    font-weight: 700;
    background-color:rgb(191, 191, 236);
    font-size: 1em;
    text-align: center;
    display: inline;
    justify-content: space-between;
}

li{ list-style: none;
    display: inline-block;
    padding: 1rem;
}
.food{
    height: 100vh;
    background-repeat: no-repeat; 
    display: inline-block; 
    }



.relative-text {
    font-size: 1.5em; 
}

footer {
    background-color: rgb(191, 191, 236);

}

body {
    background-color: rgb(232, 201, 163);
}

ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    left: 340px;
    font-weight: 700;
   
}

li{ list-style: none;
    padding: 1rem;
}